<section class='favorites'>
    
    <header>
        <h1>Favorites</h1>
    </header>

    <section class='fav-condos'>

        <h2>Condos For Sale</h2>

        <div class='results-table table-responsive'>
            <table class='table table-striped table-hover table-condensed'>
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            SqFt
                        </th>
                        <th>
                            Beds
                        </th>
                        <th>
                            Baths
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='condo in favCtrl.userFavorites'>
                        <td>
                            {{condo.id}}
                        </td>
                        <td>
                            <a href='#'>{{condo.street_address}}</a>
                        </td>
                        <td>
                            {{condo.price}}
                        </td>
                        <td>
                            {{condo.sq_ft}}
                        </td>
                        <td>
                            {{condo.beds}}
                        </td>
                        <td>
                            {{condo.baths}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

</section>
