<section class='home' ng-controller='SearchResultsController as resultsCtrl'>
    <h2>Find your VA loan approved condo in DC!</h2>

    <h3>Search Options: </h3>
    <form
        class='main-search form-inline'
        name='main-search'
        ng-submit='resultsCtrl.getForSaleCondos'
        novalidate>

        <div class='price form-group'>
            <label>Price: </label>
            <label for='min-price'>Min $</label>
            <input
                class='min form-control'
                id='min-price'
                type='text'
                name='min-price'
                ng-model='resultsCtrl.searchParams.min_price'
                placeholder='0'
                >
            <label for='max-price'>Max $</label>
            <input
                class='max form-control'
                id='max-price'
                type='text'
                name='max-price'
                ng-model='resultsCtrl.searchParams.max_price'
                placeholder='No Max'
                >
        </div>

        <div class='bed form-group'>
            <label>Bedrooms: </label>
            <label for='min-bed'>Min</label>
            <input
                class='min form-control'
                id='min-bed'
                type='text'
                name='min-bed'
                ng-model='resultsCtrl.searchParams.min_bed'
                placeholder='0'
                >
            <label for='max-bed'>Max</label>
            <input
                class='max form-control'
                id='max-bed'
                type='text'
                name='max-price'
                ng-model='resultsCtrl.searchParams.max_bed'>
        </div>

        <div class='bath form-group'>
            <label>Bathrooms: </label>
            <label for='min-bath'>Min</label>
            <input
                class='min form-control'
                id='min-bath'
                type='text'
                name='min-bath'
                ng-model='resultsCtrl.searchParams.min_bath'
                placeholder='0'>
            <label for='max-bath'>Max</label>
            <input
                class='max form-control'
                id='max-bath'
                type='text'
                name='max-bath'
                ng-model='resultsCtrl.searchParams.max_bath'>
        </div>

        <div class='parking'>
            <label for='parking'>Offstreet Parking: </label>
            <label for='parking-yes'>Yes</label>
            <input
                class=''
                id='parking-yes'
                type='radio'
                name='parking'>

            <label for='parking-no'>No</label>
            <input
                class=''
                id='parking-no'
                type='radio'
                name='parking'>
        </div>
        <input
            class='zip from-control'
            type='text'
            name='search-zipcode'
            ng-submit='resultsCtrl.searchParams.zip'
            placeholder='zip code'>
        <input
            class='btn btn-primary btn-sm'
            type='submit'
            value='Find My Condo'>
    </form>
</section>
