<section class='home'>
    <div class='left-blank'></div>

    <h2 class='home-title'>Find your VA loan approved condo in DC!</h2>

    <h4 ng-cloak class='home-error'>{{homeCtrl.message}}</h4>
    <div class='main-search-form'>
        <form
            class='main-search container'
            name='main-search'
            ng-submit='homeCtrl.goToResults()'
            novalidate>

            <div class='price form-group form-inline row'>
                <label class='input-types'>Price: </label>

                <label for='min-price' aria-label='min-price' sr-only></label>
                <div class='input-group col-lg-3'>
                    <div class='input-group-addon'>Min</div>
                        <input
                            class='min form-control'
                            id='min-price'
                            type='number'
                            name='min-price'
                            ng-model='homeCtrl.searchParams.min_price'
                            placeholder='Min Price'>
                </div>

                <label for='max-price' aria-label='max-price' sr-only></label>
                <div class='input-group col-lg-3'>
                    <div class='input-group-addon'>Max</div>
                    <input
                        class='max form-control'
                        id='max-price'
                        type='number'
                        name='max-price'
                        ng-model='homeCtrl.searchParams.max_price'
                        placeholder='Max Price'>
                </div>
            </div>

            <div class='bed form-group form-inline row'>
                <label class='input-types'>Bedrooms: </label>
                <div class='input-group col-lg-3'>
                    <div class='input-group-addon'>Min</div>
                        <label for='min-bed' aria-label='min-bed' sr-only></label>
                        <input
                            class='min form-control'
                            id='min-bed'
                            type='number'
                            name='min-bed'
                            ng-model='homeCtrl.searchParams.min_bed'
                            placeholder='Min Bedrooms'
                            >
                </div>

                <label for='max-bed' aria-label='max-bed' sr-only></label>
                <div class='input-group col-lg-3'>
                    <div class='input-group-addon'>Max</div>
                        <input
                            class='max form-control'
                            id='max-bed'
                            type='number'
                            name='max-bed'
                            ng-model='homeCtrl.searchParams.max_bed'
                            placeholder='Max Bedrooms'>
                    </div>
            </div>

            <div class='bath form-group form-inline row'>
                <label class='input-types'>Bathrooms: </label>

                <label for='min-bath' aria-label='min-bath' sr-only></label>
                <div class='input-group col-lg-3'>
                    <div class='input-group-addon'>Min</div>
                        <input
                            class='min form-control'
                            id='min-bath'
                            type='number'
                            name='min-bath'
                            ng-model='homeCtrl.searchParams.min_bath'
                            placeholder='Min Bathrooms'>
                </div>

                <label for='max-bath' aria-label='max-bath' sr-only></label>
                <div class='input-group col-lg-3'>
                    <div class='input-group-addon'>Max</div>
                    <input
                        class='max form-control'
                        id='max-bath'
                        type='number'
                        name='max-bath'
                        ng-model='homeCtrl.searchParams.max_bath'
                        placeholder='Max Bathrooms'>
                </div>
            </div>

            <!-- <div class='parking'>
                <label for='parking' class='input-types'>
                    Offstreet Parking:
                </label>
                <div class='search-fields'>
                    <label for='parking-yes'>Yes</label>
                    <input
                        class=''
                        id='parking-yes'
                        type='radio'
                        name='parking'>

                    <label for='parking-no'>No</label>
                    <input
                        class=''
                        id='parking-no'
                        type='radio'
                        name='parking'>
                </div>
            </div>
            <div class='zipcode'>
                <label for='zip' class='input-types'>
                    Zipcode:
                </label>
                <div class='search-fields'>
                    <input
                        class='zip from-control'
                        id='zip'
                        type='number'
                        name='search-zipcode'
                        ng-submit='homeCtrl.searchParams.zip'
                        placeholder='Zip Code'>
                </div>
            </div> -->

            <input
                class='condo-submit btn btn-warning btn-large'
                type='submit'
                value='Find My Condo'>
        </form>
    </div>


    <h2>OR</h2>

    <button
        class='all-button btn btn-info btn-large'
        type='button'
        name='get-all'
        ng-click='homeCtrl.goToAll()'>
            View All VA Approved Buildings
    </button>

    <div class='right-blank'></div>
</section>
