<section class='home'>
    
    <form
        class='main-search'
        name='main-search'
        novalidate>
        <input
            class='form-control'
            type='text'
            name='zipcode'
            placeholder='zip code'
            required>
        <input
            class='form-control'
            type='text'
            name='address'
            placeholder='88 K St. NW Washington DC'
            required>
        <input class='btn btn-primary btn-sm' type='submit' value='Find My Condo'>
    </form>
</section>
