.home {
    width: 100%;
    height: 800px;
    color: black;
    text-align: center;
}

.home-title {
    padding-top: 3%;
    margin-bottom: 1%;
    font-weight: bold;
    text-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.main-search {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    div {
        margin-top: 2%;
    };

    input {
        width: 50%;
    };

    .btn {
        margin-top: 5%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

}

.condo-submit {
    font-size: 35px;
}

.all-button {
    font-size: 20px;
}
.input-types {
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2%;
    vertical-align: middle;
}
