
body {
    font: bold 12px Arial;
}

a {
    text-decoration: none;
}

.map {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: block;
  }

.main-search {

    div {
        margin-top: 2%;
    };

    input {
        width: 20%;
    };

    width: 80%;
    border: 2px solid black;

}

.search-results {
    width: 100%;

    section {
        float: left;
    }

    map {
        float:left;
    }
}
