body {
    width: 100%;
    font: bold 12px Arial;
}

a {
    text-decoration: none;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.map {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: block;
  }

.main-search {
    width: 50%;
    border: 2px solid black;
    margin: 0 auto;

    div {
        margin-top: 2%;
    };

    input {
        width: 20%;
    };

}

.search-results {
    width: 90%;
    margin: 0 auto;

    section {
        width: 50%;
        margin: 0 auto;
        float: left;
        overflow: auto;
        height: 600px;
    }

    map {
        width: 50%;
        margin: 0 auto;
        float:right;
    }
}

.login {
    background-image: url('/img/login_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 800px;

    h2 {
        font-size: 45px;
        font-weight: bold;
        padding-top: 1em;
        color: white;
        text-shadow: 1px 1px 2px black;
    }
}

.login-outer {
    background-color: rgba(105, 105, 105, 0.9);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-inner {
    width: 250px;
    margin: 0 auto;
    vertical-align: middle;

    h3  {
        font-size: 4em;
        text-shadow: 1px 1px 2px white;
        margin-top: 10%;
    }
    form {
        padding: 10px;
    }

}
