@import 'variables';
@import 'home';
@import 'searchResults';
@import 'login';
@import 'filter';

body {
    width: 100%;
}

#icons8-Apartment {
    display: inline;
    width: 40px;
    height: 40px;
}

.fav {
    color: red; 
}
