<!DOCTYPE html>
<html ng-app='vacondos'>
    <head>
        <title>Vetfin - VA Condos For Sale</title>
        <meta charset='utf-8'>
        <meta name='description' content='What VA approved condos are available for sale?'>
        <meta name='author' content='Stella Ma'>
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, minimum-scale=1.0,
            maximum-scale=1.0, user-scalable=no'>

        <link
            href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
            rel='stylesheet'
            type='text/css'
            integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
            crossorigin='anonymous'>

        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>VA Condos For Sale</h1>
        </header>

        <main>
            <nav class='pageNav navbar navbar-inverse'>
                <ul class='nav navbar-nav'>
                    <li><a ui-sref='home'>Home</a></li>
                    <li><a ui-sref='login'>Login</a></li>
                    <li><a ui-sref='account'>Account</a></li>
                    <li><a ui-sref='logout'>Logout</a></li>      
                </ul>
            </nav>

            <section>

            </section>

            <section class='main-map' ng-controller='MainMapController as mmCtrl'>
                <div id='map'></div>
                <div id='repeat' ng-repeat='marker in mmCtrl.markers | orderBy : "title"'>
                    <a id='country_container' href='#' ng-click='mmCtrl.openInfoWindow($event, marker)'>
                        <label id='names' >{{marker.title}}</label>
                    </a>
                </div>
            </section>
        </main>

        <footer>
            <p></p>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js'></script>
        <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
        <script>
            if (!window.angular) {
                document.write(unescape('%3Cscript src="/js/vendor/angular/angular.js">%3C/script>'));
            }
            if (!window.jQuery) {
                document.write(unescape('%3Cscript src="/js/vendor/jquery/dist/jquery.min.js">%3C/script>'));
            }
        </script>
        <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyABvhW-nILCiy0MvU-ExFk68uqQc4SPl6I'>
        </script>

        <script src='/js/main.js'></script>

    </body>
</html>
